In [1]:
import pandas as pd

In [61]:
df = pd.read_csv("./spotify_millsongdata.csv", encoding='utf-8')

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [ ]:
df.head(10)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,I'm waitin' for you baby \r\nI'm sitting all ...

In [8]:
df['text'][0]

"Hello Jesus  \r\nJesus children  \r\nJesus loves you  \r\nJesus children  \r\nHello children Jesus loves you of America  \r\n  \r\nAre you hearing  \r\nWhat he's saying?  \r\nAre you feeling  \r\nWhat you're praying?  \r\nAre you hearing, praying, feeling what you say inside?  \r\n  \r\nYou'd better tell  \r\nYour story fast...  \r\nAnd if you lie  \r\nIt will come to pass...  \r\n  \r\nTell me!  \r\nTell me holy  \r\nHoly roller  \r\nHoly roller  \r\nAre you standing  \r\nAre you standing  \r\nLike a soldier?  \r\nLike a soldier?  \r\nWaell...  \r\nAre you standing for everything you talk about?  \r\nHoly roller...  \r\n  \r\nSay  \r\nTranscen  \r\nTranscendental  \r\nDental meditation  \r\nMeditation  \r\nSpeaks of  \r\nSpeaks of inner  \r\nInner Preservation  \r\nPreservation  \r\nWell...  \r\nTranscendental meditation gives you peace of  \r\nPeace of mind  \r\n  \r\nYou'd better tell  \r\nYour story fast...  \r\nAnd if you lie  \r\nIt will come to pass...  \r\nTell 'em  \r\nDon't lie to 'em  \r\nDon't tell lies  \r\nTell 'em  \r\nDon't lie to 'em  \r\n  \r\nOoh, hu hu... uh uh uh...yeah  \r\n  \r\nTell 'em  \r\nDon't lie to 'em  \r\nTell 'em  \r\nDon't lie to 'em  \r\nTell 'em Jesus  \r\n  \r\nTell me  \r\nTell me junkie  \r\nIf you're able  \r\nIf you're able  \r\nPlaying  \r\nAre you playing your cards  \r\nOn the table  \r\nOn the table  \r\nYeah...  \r\nAre you happy when you stick a needle in your vein  \r\nHey hey  \r\nTell the children  \r\nHey hey hey  \r\n  \r\nJesus  \r\nJesus died on  \r\nCross for you  \r\nCross for you  \r\nMary  \r\nMary is just  \r\nLooking at you  \r\nLooking at you  \r\nYeah...  \r\nMother Mary feels so much pain  \r\nLooking at him  \r\n  \r\nSo. you better tell  \r\nTell your story  \r\nYour story fast...  \r\nTell your story, story!  \r\nAnd if you lie  \r\nYeah, tell your story  \r\nIt will come to pass  \r\nYeah, tell your story, story!  \r\n  \r\nUm... um I need you Jesus...\r\n\r\n"

In [9]:
# df = df.sample(5000)

In [10]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [11]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [17]:
import nltk
print("NLTK imported successfully!")

NLTK imported successfully!

In [18]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\ASUS
[nltk_data]     TUFF/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [20]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)
    df['text'] = df['text'].apply(lambda x: tokenization(x))

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [23]:
similarity[0]

array([1.        , 0.0164332 , 0.00822992, ..., 0.03464946, 0.06841032,
       0.00725271])

In [53]:
df[df['song'] == 'As Good As New']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [60]:
print(df[df['song'] == 'As Good As New'])

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [63]:
def recommendation(song_name):
    # Check if song exists in DataFrame
    if song_name not in df['song'].values:
        print(f"‚ùå Error: '{song_name}' not found in the dataset.")
        return []  # Return an empty list or handle it accordingly
    
    # Find song index
    idx = df[df['song'] == song_name].index[0]
    
    # Compute similarity
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])

    # Get top 5 recommended songs (excluding the first one, which is itself)
    songs = [df.iloc[i[0]]['song'] for i in distances[1:6]]
    
    return songs

In [65]:
recommendation('As Good As New')

['Girls Were Made To Take Care Of Boys',
 'Constantly',
 'Look Here',
 'Oh Well',
 'Only One Forever']

In [66]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))